/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* background: #0088ff; */
    /* background-image: url('../img/fundo.jpg'); */
    /*background-image: url('../img/pattern-369543_1280.png');*/
    background-image: url('../img/Star-Wars.png');
    /* background-size: 500px 700px; */
    /*background-size: auto 200vh;*/
    background-size: 100vw auto;
    background-position: center;
    font-family: 'News Cycle', sans-serif;
    /* font-family: Arial; */
    height: 100vh;
    font-size: 12px;
  }

  /* se a tela tiver pelo menos 400px vai carregar esses estilos */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  
  /* brekpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  
  /* brekpoint 
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
      background-image: none;
      background-color: deeppink;
    }
  }*/

  header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }

  .menu a {
    display: block;
    /* background-color: red; */
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
  }

  .menu a:hover{
    background-color: teal;
    color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
  }
  
  .menu li {
    list-style:none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(0.2) translateY(-50vh) perspective(300px);
    opacity: 0;
    /*animation: 1s ease 2s animacaoTitulo reverse;*/
    animation: 1s linear 1s animacaoTitulo reverse;
  }

  /*transform: scale(1) translateY(0);*/
  @keyframes animacaoTitulo{
    100%{
      
      transform: scale(1) translateY(0) perspective(1);
      opacity: 1;
    }
  }





  .titulo {
    transform: perspective(250px) rotateX(45deg) translateY(60vh);
    opacity: 1;
    /*animation: 1s ease 2s animacaoTitulo reverse;*/
    animation: 100s linear 1s animacaoTitulo forwards;
    width: 100vw;
  }

  /*transform: scale(1) translateY(0);*/
  @keyframes animacaoTitulo{
    100%{
      transform: perspective(250px) rotateX(45deg) translateY(-100vh);
      opacity: 0;
      width: 100vw;
    }
  }
  





  .site-subtitle,
  .site-title {
    /* color: whitesmoke; */
    text-align: center;
  }
  
  .site-title {
    color: #FFD700;
    font-size: 4em;
    /*font-family: 'Gloria Hallelujah', cursive;*/
  }
  .site-subtitle {
    color: #FFD700;
    font-style: italic;
    /*font-family: 'Press Start 2P', cursive;*/
    line-height: 1.8em;
  }

  .portfolio {
    padding: 2em;
    min-height: 100vh;
  }

  .contato h2,
  .portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em
  }

  .portfolio h2:after{
    content: 'Juan';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   @keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 4em - 48px - 1.5em);
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 240px;
    width: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: transform 0.5s;
  }

  .img-portfolio:hover{
    transform: scale(1.1) rotate(360deg);
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: whitesmoke;
    font-size: 5em;
    transition: text-shadow 0.5s;
  }

  .contato a:hover,
  .contatoa:active {
    text-decoration: none;
    text-shadow: 0px 0px 10px yellow;
  }

/*
  @media (min-width: 1200px){
    .img-portfolio {
      height: auto;
      width: 100%;
    }
  }
*/
/*
  .img-portfolio2 {
    position: fixed;
    bottom: -50px;
    height: 200px;
  }